body {
  background-image: url("./bg\ img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: black;
  margin: auto 15%;

  width: 1500px;
  button {
    width: 80%;
    height: 30px;
    background-color: white;
    color: green;
    cursor: pointer;
    align-self: center;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  button:hover {
    background-color: green;
    color: white;
  }

  .card {
    width: 20%;
    margin: 1%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 5px solid green;
  }
}
.ime {
  margin-left: 25px;
}
.btn-pag {
  background-color: green;
  color: white;
  width: 50px;
  border-radius: 5px;
}
.active {
  background-color: red;
}
.pagination {
  display: flex;
}
.pagination button:nth-child(2) {
  order: 1;
}
